<header>
  <nav>
    <ul>
      <li>
        <a href="#section_primary">Principio</a>
      </li>

      <li>
        <a href="#">Proyectos</a>
      </li>

      <li>
        <a href="#">Sobre mí</a>
      </li>

      <li>
        <a href="#">Tecnologias</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    position: sticky;
    top: 0;

    background-color: rgb(31, 31, 31);
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1.3rem;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  a {
    font-size: 100%;
  }
</style>
